{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
<div class="mb-5">
  <h1>{{ user.username }}Все посты пользователя {{ author.username }}</h1>
  <h3>Всего постов: {{ page_obj.paginator.count }}</h3>
{% if author.username != user.username and user.is_authenticated %}
  {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
    <a
      class="btn btn-lg btn-primary"
      href="{% url 'posts:profile_follow' author.username %}" role="button"
    >
    Подписаться
    </a>
  {% endif %}
{% endif %}
</div>
{% for post in page_obj %}
<article>
    {% include "includes/article.html" with no_author="true" %}     
<p>
<a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a>
</article>
{% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
{% endif %}
{% if not fporloop.last %}<hr>{% endif %}
{% endfor %}
{% include "posts/includes/paginator.html" %}
{% endblock %}